{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
     {% csrf_token %}
     <div class="card mt-5">
         <div class="card-header">
             <h5>Оформление заказа</h5>
         </div>
         <div class="card-body">
           <div class="mt-3">
               <label for="phone" class="form-label">Номер мобильного телефона</label>
                <input type="text" name="phone" class="form-control" value="{{order_form.phone.value}}">
               {% if  order_form.phone.errors %}
                   {% include 'errors.html' with errors=order_form.phone.errors %}
               {% endif %}
           </div>
           <div class="mt-3">
               <label for="customer_name" class="form-label">
                   Имя
               </label>
               <input type="text" name="customer_name" class="form-control" value="{{order_form.customer_name.value}}">
               {% if order_form.customer_name.errors %}
                   {% include 'errors.html' with errors=order_form.customer_name.errors %}
               {% endif %}
           </div>
             {% if not request.user.is_authenticated or not request.user.address %}
               <div class="card mt-3">
                 <div class="card-header">
                     <h5>Адрес доставки</h5>
                 </div>
                 <div class="card-body ">
                     <div class="address_form">
                         <div class="mb-3">
                             <label for="city" class="form-label">Город</label>
                             <input type="text" name="city" class="form-control" value="{{address_form.city.value}}">
                             {% if address_form.city.errors %}
                                 {% include 'errors.html' with errors=address_form.city.errors %}
                             {% endif %}
                         </div>
                         <div class="mb-3">
                             <label for="street" class="form-label">Улица</label>
                             <input type="text" name="street" class="form-control" value="{{address_form.street.value}}">
                             {% if address_form.street.errors %}
                                 {% include 'errors.html' with errors=address_form.street.errors %}
                             {% endif %}
                         </div>
                         <div class="mb-3">
                             <label for="house" class="form-label">Дом</label>
                             <input type="text" name="house" class="form-control" value="{{address_form.house.value}}">
                             {% if address_form.house.errors %}
                                 {% include 'errors.html' with errors=address_form.house.errors %}
                             {% endif %}
                         </div>
                         <div class="mb-3">
                             <label for="entrance" class="form-label">Подъезд</label>
                             <input type="text" name="entrance" class="form-control" value="{{address_form.entrance.value}}">
                             {% if address_form.entrance.errors %}
                                 {% include 'errors.html' with errors=address_form.entrance.errors%}
                             {% endif %}
                         </div>
                         <div class="mb-3">
                             <label for="apartment" class="form-label">Квартира</label>
                             <input type="text" name="apartment" class="form-control" value="{{address_form.apartment.value}}">
                             {% if  address_form.apartment.errors %}
                                 {% include 'errors.html' with errors=ddress_form.apartment.errors %}
                             {% endif %}
                         </div>
                     </div>
                 </div>
               </div>
                 {% else %}
                 <div class="alert alert-info mt-4">
                    <span>Адрес доставки:{{user.address}}</span>
                </div>
             {% endif %}
         </div>
         <div class="card-footer text-end">
             <a href="{% url 'application:bucket' %}" class="btn btn-outline-danger">Отмена</a>
             <button type="submit" class="btn btn-outline-dark">Заказать</button>
         </div>
     </div>
    </form>
{% endblock %}